
// ==== IOTTLY VARS ==== //
// gray-scale
$black-iottly: #000000;
$gray-dark-iottly: #5B5B5B;
$gray-medium-iottly: #999999;
$gray-light-iottly: #F9F5F4;
$white-iottly: #FFFFFF;

// iottly colors
$primary-color-iottly: #253551;
$secondary-color-iottly: #ED570C;

// ==== THEME VARS ==== // 

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: $primary-color-iottly;
$header-bg-color: #fff;
$header-bg-color-secondary: #fff;

// Text
$section-headings-color: $primary-color-iottly;
$body-text-color: $black-iottly;
$body-link-color: $primary-color-iottly;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;
